<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<style>
    body{
        background-color:#96dbe4 ;
    }
    form{
        margin-top:14% ;
        background-color: #96dbe4;
    }
    input{
        font-size: 32px;
        width: 50%;
        margin-bottom: 20px;
    }
    p{
        text-align: center;
    }
    .submit{
        border: none;
        color: #0f6848;
        background-color: #1cc88a;

    }
</style>
</head>
<body>
<form>
    <p>
    <input type="text" name="username" placeholder="用户名">
    </p>
    <p>
    <input type="text" name="email" placeholder="邮箱">
    </p>
    <p>
    <input type="text" name="password" placeholder="密码">
    </p>
    <p>
    <input type="text" name="password" placeholder="重复密码">
    </p>
    <p>
    <input class="submit" type="submit"  value="提交">
    </p>
</form>

</body>
</html>